html
    body
        h1= "Results"
        p Location: #{location}
        p Temperature: #{temperature}
        p Feels Like: #{feelslike}
        p Precipitation: #{precip}
        p Humidity: #{humidity}
        p Visibilty #{visibility}
        p Cloud Cover: #{cloudcover}
        p Wind Speed: #{wind_speed}
        p UV Index: #{uv_index}
        a(href="/ps4") Search Again
